html
{
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}

body
{
  margin: 0%;
  height: 100vh; /*esto  es viewport*/
  display:grid;
  grid-template-columns: 18% auto;
  grid-template-rows: 7% auto auto 20%;
  background: linear-gradient(to bottom,#3B1473,#6321BF);
  background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
  height: 768px;
  overflow:hidden;
}
/* nav */
nav 
{
  grid-row: 1/2;
  grid-column: 1/4;
  color: #fff; /* color del texto */
  padding: 5px; /* añadir espacio interno */
  background-color: #0d0d0d73;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  gap: 60%;
}
.barra-negra
{
 grid-row: 1/2;
 grid-column: 1/4;
 background-color: #0D0D0D;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
}
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(201, 187, 187, 0.6);
  --animation-color: #8806df;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
.menu-logo
{
  width: 300px;
  display: flex;
  align-items: baseline;
  gap: 20%;
}
.login-nav
{
  display: flex;
  float: right;
  width: 200px;
}
/* botones de inicio y register */
.buti {
  font-size: 10px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.buti:focus,
.buti:hover {
  color: #fff;
}

.buti:focus:after,
.buti:hover:after {
  width: 100%;
  left: 0%;
}

.buti:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
/* fin nav */
/* listas */
.ul 
{
  list-style-type: none; /* quitar las viñetas de la lista */
  margin: 0;
  padding: 0;
}

.li 
{
  display: inline; /* mostrar elementos en línea */
  margin-right: 10px; /* añadir espaciado entre elementos */
}
/* fin listas */
a 
{
  color: #fff; /* color del enlace */
  text-decoration: none; /* quitar subrayado */
}

/*main */
#carouselExample
{
  width: 800px;
  height: 490px;
  margin-left: 50px;
  margin-top: 0px;
}
.cartelera
{
  width: 798px;
  margin-top: 1%;
  margin-left: 5%;
  padding-left: 1%;
  font-size: 30px;
  color: whitesmoke;
  background-color: #3636364d;
}
.cartelera .nuevoText {
  opacity: 0; /* Inicialmente, el nuevo texto está oculto */
  transition: opacity 0.3s; /* Agrega una transición suave */
}

.cartelera:hover .originalText {
  display: none; /* Oculta el texto original al hacer hover */
}

.cartelera:hover .nuevoText {
  opacity: 1; /* Muestra el nuevo texto al hacer hover */
}
#hola
{
  width: 100%;
  height: 100%;
  position: relative;
  border: solid 5px rgb(29, 7, 29);
}
.carousel-item
{
  width: 100%;
  height: 100%;
}
.pelis-main
{
  width: 100%;
  height: 100%;
  /* border: solid 3px wheat; */
  padding: auto;
}
.nombre-peli
{
  width: 500px;
  position: absolute;
  bottom: 10px;
  margin-left: 15px;
  padding-left: 5%;
  font-size: 50px;
  background-color: #36363656;
  color: #fff;
}
.todo
{
  font-size: 20px;
  margin-left: 1%;
}
/* fin main */
/* aside */
aside
{
  grid-row: 2/3;
  background: linear-gradient(to bottom,#0a0a0a,#363636);
  padding: 0px;
  margin: 10px;
  border: solid 1px;
  border-color: black;
  overflow: auto;/*scroll bar automatica*/
}
aside::-webkit-scrollbar 
{
  width: 0px;
}
.text-top
{
  text-align: center;
  position: sticky;
  top: 0px;
  color: wheat;
  background-color: #33333363;
}
.pelis
{
 width: 150px; 
 border: solid 3px wheat;
 margin-top: 10px;
 margin-bottom: 10px;
 padding: auto;
 margin-left: 20px;
}
.pelisbox
{
 list-style: none;
 margin: auto;
 padding: 0px;
 width: 200px;
 display: flex;
 flex-direction: column;
}
.lipelis
{
  margin: 0px;
  padding: 0px;
  width: 200px;
}
.lipelis:hover
{
 background-color: #0D0D0D;
}
.top-completo
{
 position: sticky;
 bottom: 0px;
 text-align: center;
}
/* fin aside */
/* footer */
/*footer
{
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: #333;
    color: #fff; 
    padding: 10px; 
}*/
/* fin footer */
/* @media only screen and (max-width:601px)
{
  body{
    background: red;
  }

} */
/* @media only screen and (min-width: 600px){
  body{
    background: blue;
  }
#carouselExample
{
  display:none;
} 
} */